$hk-blue-light: #0C4CB2;
$hk-blue-mid: #022D72;
$hk-blue-dark: #09244C;

$hk-green-dark: #04DDAE;
$hk-green-light: #04E8B6;

$hk-purple: #9C1BC4;

$hk-white: #EEE;

body {
  background-color: $hk-blue-mid;
  color: $hk-white;
}

body, h1, h2, h3, h4, h5, h6, p, div, span, strong, em, td, th, input, button, .ui.list .list > .item .header, .ui.list > .item .header, .ui.list .list > .item .description, .ui.list > .item .description, .ui.form .field > label {
  font-family: 'Share', sans-serif;
  font-weight: 400;
}

a {
  color: $hk-green-light;
  text-decoration: none;

  &:hover {
    color: $hk-green-dark;
    text-decoration: underline;
  }
}

.ui.list .list > .item .header, .ui.list > .item .header {
  color: $hk-green-light;
}

.ui.list .list > .item .description, .ui.list > .item .description {
  color: $hk-white;
}

.ui.main.container {
  padding-top: 60px;
  padding-bottom: 10px;
}

.ui.button {
  font-family: 'Share', sans-serif;;
  font-weight: 400;
  font-size: 1.1rem;
  border-radius: 0.1rem;
}

.ui.input > input, .ui.form textarea, .ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="file"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="text"], .ui.form input[type="time"], .ui.form input[type="url"] {
  border-radius: 0.1rem;
  border: 1px $hk-green-dark solid;
  background: $hk-green-light;
  color: $hk-blue-dark;

  &:focus {
    border-radius: 0.1rem;
    background-color: $hk-green-dark;
    border: 1px $hk-green-light solid;
  }
}

.ui.form .field > label {
  color: $hk-white;
  font-size: 18px;
  line-height: 24px;
}

.ui.input > input::placeholder, .ui.input > input:focus::placeholder {
  color: $hk-blue-dark;
}

.ui.menu .username {
  padding: 0 0 0 10px;

  img.blockie {
    height: 28px;
    width: 28px;
    margin-right: 5px;
  }
}

.ui.inverted.menu {
  background: $hk-blue-dark;

  .item.logo {
    padding: 0 30px 0 0;
    background: $hk-blue-dark;

    &:hover, &.active:hover {
      background: $hk-blue-dark;
    }

    img {
      height: 40px;
      width: auto;
    }
  }

  a.item:hover {
    background: $hk-blue-light;
  }

  .active.item {
    background: $hk-blue-mid;

    &.logo {
      background: $hk-blue-dark;
    }

    &:hover {
      background: $hk-blue-light;
    }
  }
}

.ui.pink.button, .ui.pink.buttons .button {
  background-color: $hk-purple;
  color: $hk-white;

  &:hover, &:focus {
    background-color: darken($hk-purple, 4);
    color: $hk-white;
  }

  &:active {
    background-color: lighten($hk-purple, 4);
    color: $hk-white;
  }
}

.ui.green.button, .ui.green.buttons .button {
  background-color: $hk-green-light;
  color: $hk-blue-dark;

  &:hover, &:focus {
    background-color: darken($hk-green-light, 4);
    color: $hk-blue-dark;
  }

  &:active {
    background-color: lighten($hk-green-light, 4);
    color: $hk-blue-dark;
  }
}

.ui.inverted.table {
  th {
    background-color: $hk-blue-dark;
  }

  td {
    background-color: $hk-blue-light;
  }
}

.ui.modal {
  background: $hk-blue-dark;

  .content {
    background: $hk-blue-dark;
  }
}

.form-help {
  font-size: 14px;
  color: $hk-green-light;
}

.ui.red.message {
  background: #b22020;
  color: $hk-white;
}

#hacka-dapp {
  .rdtPicker {
    background: $hk-blue-dark;
    border-color: $hk-blue-light;

    th, td {
      border-color: $hk-blue-light;
    }

    td.rdtActive, td.rdtActive:hover {
      background-color: $hk-blue-light;
    }

    td.rdtDay:hover, td.rdtHour:hover, td.rdtMinute:hover, td.rdtSecond:hover, .rdtTimeToggle:hover, thead tr:first-of-type th:hover, .rdtCounter .rdtBtn:hover {
      background-color: $hk-blue-mid;
    }
  }
}